body {
  background-color: #2f2e3f;
}
.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  color: white;
  background-color: #252431;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #9a7fb0;
  margin-top: 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #846f96;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}
.link {
  color: #9a7fb0;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.form-group.icon-input {
  display: flex;
  align-items: center;
  .icon {
    margin-right: 10px;
  }
  input {
    flex-grow: 1;
  }
}

button {
  &:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
}
