.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #5c5c5c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4a4a4a;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}
.link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.form-group.icon-input {
  display: flex;
  align-items: center;
  .icon {
    margin-right: 10px;
  }
  input {
    flex-grow: 1;
  }
}
.link {
  color: #007bff;
  cursor: pointer;
}

button {
  background-color: #5c5c5c;
  color: white;
  // Other button styles

  &:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
}
