.chat-container {
  max-width: 700px;
  margin: auto;
  margin-top: 40px;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(111, 109, 109, 0.5);
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: rgba(46, 39, 39, 0.5);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.self {
  align-items: flex-end;

  .message-header {
    flex-direction: row-reverse;
  }

  .profile-image {
    margin-right: 0;
  }

  .message-content {
    background-color: #dcf8c6;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
}

.other {
  align-items: flex-start;

  .message-header {
    flex-direction: row;
  }

  .profile-image {
    margin-left: 0;
  }

  .message-content {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
}

.message-header {
  display: flex;
  align-items: center;
  .username {
    margin: 0 10px;
  }
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-weight: bold;
  font-size: 16px;
}

.message-input {
  display: flex;
  margin-top: 20px;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
}

.message-input button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0056b3;
}
